*{
box-sizing:border-box;
}

body{

background:linear-gradient(
135deg,
#0f172a,
#1e293b
);

color:white;

font-family:Arial;

text-align:center;

margin:0;

padding:20px;

}


#mainApp{

display:none;

}


#userSelector{

margin-top:120px;

}


#mohamedBtn,
#yomnaBtn{

width:250px;

padding:15px;

margin:15px;

font-size:20px;

border:none;

border-radius:20px;

cursor:pointer;

background:#22c55e;

color:white;

transition:.3s;

}


#mohamedBtn:hover,
#yomnaBtn:hover{

transform:scale(1.05);

}


.container{

display:flex;

flex-wrap:wrap;

justify-content:center;

gap:20px;

margin-top:30px;

}


.card{

width:340px;

padding:20px;

border-radius:25px;

background:rgba(
255,
255,
255,
0.08
);

backdrop-filter:blur(15px);

box-shadow:

0 0 20px rgba(
0,
0,
0,
0.3
);

}


.buttons{

display:flex;

flex-direction:column;

gap:10px;

}


button{

padding:12px;

border:none;

border-radius:15px;

font-size:16px;

cursor:pointer;

}


#chatBox{

max-width:700px;

height:400px;

overflow-y:auto;

margin:auto;

padding:20px;

border-radius:25px;

background:rgba(
255,
255,
255,
0.08
);

display:flex;

flex-direction:column;

gap:15px;

}


.message{

padding:12px;

border-radius:20px;

max-width:70%;

word-wrap:break-word;

}


.me{

background:#316644;

color:rgba(255, 255, 255, 0.851);

align-self:flex-end;

}


.her{

background:rgba(255, 255, 255, 0.477);

color:black;

align-self:flex-start;

}


small{

display:block;

margin-top:8px;

font-size:12px;

opacity:.8;

}


textarea{

width:90%;

height:90px;

padding:15px;

border-radius:20px;

margin-top:20px;

font-size:16px;

}


#sendBtn{

width:250px;

margin-top:15px;

background:#366949;

color:white;

}

